.v-data-iterator__actions__select .v-select {
  -webkit-box-flex: 0;
  flex: 0 1 0;
  margin: 13px 0 13px 34px;
  padding: 0;
  position: initial;
}

.v-data-iterator__actions__select {
  justify-content: flex-end;
}
