div.v-list-item {
  user-select: initial;
}

.v-autocomplete__content, .v-menu__content {
  .v-list-item {
    min-height: 30px;
    height: 30px;
    font-size: 1em;
  }
}

.v-menu__content {
  .v-list-item__action {
    min-width: 24px;
  }

  .v-list-item__action:first-child, .v-list-item__icon:first-child {
    margin-right: 8px;
  }
}

.v-list-item--link {
  color: inherit;
}
