.DS_Store
node_modules
/dist

chrome_extension/*
!chrome_extension/manifest.json
!chrome_extension/background.js
elasticvue.zip

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
