.q-btn {
  font-weight: initial !important
}

button.disabled[disabled]:not(.q-btn--round) {
  background: #9e9e9e !important;
}

.body--dark {
  .q-btn-group {
    background-color: #111;

    .q-btn {
      background-color: #333;
    }

    .q-btn:first-child {
      margin-right: 2px;
    }
  }

  .q-table__control {
    .q-btn:not(:disabled) {
      color: #fff !important;
    }
  }

  button.disabled[disabled]:not(.q-btn--round) {
    background: #424242 !important;
  }
}
