table.q-table {
  font-family: 'Hack', monospace;
  font-size: 14px;

  th {
    font-weight: 600;
  }
}

.q-table--dense .q-table th {
  padding: 2px 8px;
  height: 40px !important;
}

.q-table--dense .q-table td {
  padding: 2px 8px;
}

.q-table--dense .q-table thead tr, .q-table--dense .q-table tbody tr, .q-table--dense .q-table tbody td {
  height: 40px;
}

.q-table tbody td {
  font-size: 14px;
}

.q-table--dense {
  tbody {
    .q-btn {
      min-height: 2em;
      padding: 2px 10px;
    }
  }

  tbody td {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .q-table__bottom {
    min-height: 50px;

    .q-btn {
      padding: 4px;

      .q-icon {
        font-size: 2.5em;
      }
    }
  }
}

.q-table--dark .q-table__bottom, .q-table--dark thead, .q-table--dark tr, .q-table--dark th, .q-table--dark td {
  border-color: #ffffff1f;
}
