a:not(.q-btn, .q-tab),
a:visited:not(.q-btn, .q-tab),
a:hover:not(.q-btn, .q-tab),
a:focus:not(.q-btn, .q-tab) {
  color: var(--theme-primary) !important;
}

a:hover:not(.q-tab) {
  cursor: pointer;
  text-decoration: underline;
}

a.stretched::before {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: auto;
  content: '';
}
