.q-chip {
  color: var(--theme-color);
  background-color: var(--code-editor-gutter-border-color);
}

.q-chip.outline--dashed {
  border-style: dashed !important;
}

.q-chip.border-grey {
  border-color: #555;
  background: initial;
}
