.code-editor {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

.code-editor__actions {
  position: absolute;
  top: 4px;
  right: 18px;
  z-index: 2;

  > div {
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }
}

.cm-editor {
  height: 100%;
}
