.health--green {
  color: #43a047;
  fill: #43a047;
}

.health--yellow {
  color: var(--theme-warning);
  fill: var(--theme-warning);
}

.health--error, .health--red {
  color: var(--theme-negative);
  fill: var(--theme-negative);
}

.health--unknown {
  color: grey;
  fill: grey;
}

.theme--dark {
  .health--green {
    color: #4caf50;
    fill: #4caf50;
  }
}
