.theme--light {
  .http-GET {
    color: $green-9;
  }

  .http-DELETE {
    color: $red-9;
  }

  .http-HEAD, .http-OPTIONS {
    color: $purple-8;
  }

  .http-POST, .http-PUT, .http-PATCH {
    color: $orange-9;
  }
}

.theme--dark {
  .http-GET {
    color: $green-5;
  }

  .http-DELETE {
    color: $red-5;
  }

  .http-HEAD, .http-OPTIONS {
    color: $purple-4;
  }

  .http-POST, .http-PUT, .http-PATCH {
    color: $orange-5;
  }
}
