.shard-reroute-target {
    background-color: transparent;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed grey;
    color: var(--theme-muted-color) !important;
}

.shard-reroute-target:hover {
    background-color: rgba(150, 150, 150, 0.5);
    cursor: pointer;
}