.table--sticky-header {
  .q-table__container {
    height: 100%;

    thead tr th {
      position: sticky;
      z-index: 1;
      background-color: var(--theme-background);
    }

    thead tr:first-child th {
      top: 0;
    }
  }
}

table td.small-wrap {
  width: 1%;
  white-space: nowrap;
}
