.table--sticky-header .q-table__container {
  height: 100%;
}

.table--sticky-header .q-table__container thead tr th {
  position: sticky;
  z-index: 1;
  background-color: var(--theme-background);
}

.table--sticky-header .q-table__container thead tr:first-child th {
  top: 0;
}

table td.small-wrap {
  width: 1%;
  white-space: nowrap;
}

th.marked,
td.marked {
  background: var(--theme-table-hover-background) !important;
}

.table-wrapper {
    height: calc(100vh - 465px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.results-table {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.results-table .q-table__middle {
    flex: 1;
    overflow-y: auto;
}

.results-table thead tr th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--theme-background);
}
