code {
  font-weight: bold !important;
  color: #c0341d !important;
  font-family: 'Hack', monospace;
}

.code-block {
  display: inline-block;
  padding: 5px 6px !important;

  &:before, &:after {
    content: initial !important;
  }
}

.code-comment {
  color: grey;
}
