.request-body-disabled-hint {
  background-color: #bdbdbd !important;
  border-color: #bdbdbd !important;
}

.theme--dark .request-body-disabled-hint {
  background-color: #424242 !important;
  border-color: #424242 !important;
}
