.settings-dropdown {
  position: relative;
  display: inline-block;

  .settings-dropdown__dropdown {
    min-height: 48px;
    max-height: 600px;
    z-index: 10;
    position: absolute;
    right: 0;
    background-color: #fff;
    overflow-y: auto;
  }

  .settings-dropdown__dropdown:before {
    background-image: url('../icons/caret.svg');
    content: ' ';
    position: absolute;
    top: -10px;
    right: 14px;
    z-index: 20;
    width: 22px;
    height: 12px;
  }
}

.theme--dark .settings-dropdown__dropdown {
  background-color: #303030;
}
