.table--condensed {
  .v-data-table__wrapper table thead tr {
    height: 36px
  }

  .v-data-table__wrapper table {
    td, th {

      &:not(:nth-child(1)), &:first-child {
        padding: 0 8px
      }
    }

    tbody td, thead th {
      height: 40px;
    }

    td {
      font-size: 13px !important;
      max-width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .v-btn {
      max-height: 32px;
    }

    white-space: nowrap;
    font-family: 'Hack', monospace;
  }
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  height: 40px;
}

table {
  tr.tr--clickable:hover {
    cursor: pointer
  }
}

.table--fixed-header th {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: -2px;
  z-index: 2
}

.table--fixed-header th {
  background-color: #fff;
}

.theme--dark .table--fixed-header th {
  background-color: #1e1e1e;
}

.table--fixed-header .v-data-table__wrapper {
  max-height: 850px;
  overflow-y: auto;
  height: 100%;
}

.table--bordered {
  table {
    border-collapse: collapse;
    width: auto !important;
  }

  th, td {
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
  }
}

td.marked, th.marked {
  background-color: #eee;
}

.theme--dark {
  td.marked, th.marked {
    background-color: #333;
  }

  .table--bordered {
    th, td {
      border-right: 1px solid #393939;
      border-left: 1px solid #393939;
    }
  }
}
