.theme--light {
  --theme-primary: #1565c0;
  --theme-primary-dark: #1461b8;
  --theme-positive: #2e7d32;
  --theme-warning: #f9a825;
  --theme-negative: #b71c1c;
  --theme-color: #000;
  --theme-muted-color: #616161;
  --theme-background: #fff;
  --theme-body-background: #eee;
  --theme-dark-grey-color: #111;
  --theme-dark-grey-background: #eee;
  --theme-menu-background: #fff;
  --theme-card-background: #fff;
  --theme-table-hover-background: rgb(0 0 0 / 4%);
  --theme-table-border-color: #d7d7d7;
  --theme-separator-background: #d7d7d7;
  --theme-menu-separator-background: #d7d7d7;
  --theme-border-color: #ccc;
  --code-editor-background: #fff;
  --code-editor-base-color: #000;
  --code-editor-gutter-background: #f0f0f0;
  --code-editor-gutter-color: #333;
  --code-editor-gutter-border-color: #f0f0f0;
  --code-editor-active-line-background: rgb(204 238 255 / 48%);
  --code-editor-selection-background: #bbb;
  --code-editor-search-selected-background: #555;
  --code-editor-button-background: var(--theme-dark-grey-background);
  --code-editor-button-hover-background: #535353;
  --code-editor-panel-close-button-color: #333;
  --code-editor-search-match-outline-color: var(--theme-primary);
  --code-editor-bracket-outline-color: #999;
  --code-editor-tooltip-background: #ddd;
  --code-editor-tooltip-color: #000;
  --code-editor-tooltip-selected-background: #545b61;
  --code-editor-syntax-property-name-color: #7b1fa2;
  --code-editor-syntax-keyword-color: #ef5350;
  --code-editor-syntax-bool-color: #ef6c00;
  --code-editor-syntax-number-color: #00787a;
  --code-editor-syntax-string-color: #2e7d32;
}

.theme--dark {
  --theme-primary: #2a99f4;
  --theme-primary-dark: #1461b8;
  --theme-positive: #2e7d32;
  --theme-warning: #f9a825;
  --theme-negative: #b71c1c;
  --theme-color: #fff;
  --theme-muted-color: #c3c8d5;
  --theme-background: #191c24;
  --theme-body-background: #010101;
  --theme-dark-grey-color: #fff;
  --theme-dark-grey-background: #383838;
  --theme-menu-background: #2e3038;
  --theme-card-background: #272930;
  --theme-table-hover-background: rgb(255 255 255 / 4%);
  --theme-table-border-color: hsl(224deg 18% 25% / 100%);
  --theme-separator-background: #34373e;
  --theme-menu-separator-background: #4a4f59;
  --theme-border-color: #212121;
  --code-editor-background: #1d1f21;
  --code-editor-base-color: #fff;
  --code-editor-gutter-background: #25282c;
  --code-editor-gutter-color: #ccc;
  --code-editor-gutter-border-color: #4f5b66;
  --code-editor-active-line-background: rgb(20 20 20 / 50%);
  --code-editor-selection-background: #047d99;
  --code-editor-search-selected-background: #555;
  --code-editor-button-background: var(--theme-dark-grey-background);
  --code-editor-button-hover-background: #535353;
  --code-editor-panel-close-button-color: #fff;
  --code-editor-search-match-outline-color: var(--theme-primary);
  --code-editor-bracket-outline-color: #999;
  --code-editor-tooltip-background: var(--theme-menu-background);
  --code-editor-tooltip-color: #fff;
  --code-editor-tooltip-selected-background: #545b61;
  --code-editor-syntax-property-name-color: #c06ccf;
  --code-editor-syntax-keyword-color: #ef5350;
  --code-editor-syntax-bool-color: #ffa726;
  --code-editor-syntax-number-color: #29e0c5;
  --code-editor-syntax-string-color: #55ce5b;
}

body {
  --q-primary: var(--theme-primary);
  --q-positive: var(--theme-positive);
  --q-warning: var(--theme-warning);
  --q-negative: var(--theme-negative);
}
