* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.application {
  color: #2c3e50;
}

a.router-link-active {
  font-weight: bold;
}

table {
  font-family: monospace
}

.text-bigger {
  font-size: 1.2em;
}
