.bordered {
  border: 2px solid $border-light-color;
}

.body--dark .bordered {
  border: 2px solid $border-dark-color;
}

.border--left--8.border--success {
  border-left: 8px solid #2e7d32 !important;
}

.border--left--8.border--warning {
  border-left: 8px solid $orange !important;
}

.border--left--8.border--error {
  border-left: 8px solid #b71c1c !important;
}

.border--left--8.border--grey {
  border-left: 8px solid lightgrey !important;
}

.border-positive {
  border-color: var(--q-positive);
}

.border-warning {
  border-color: var(--q-warning);
}