.bordered {
  border: 2px solid $border-light-color;
}

.theme--dark .bordered {
  border: 2px solid $border-dark-color;
}

.border-right-1 {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.theme--dark .border-right-1 {
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}
