.bordered {
  border: 2px solid #ccc;
}

.theme--dark .bordered {
  border: 2px solid #212121;
}

.border-right-1 {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.theme--dark .border-right-1 {
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}
