button.btn-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
  color: #1976d2;

  &:hover, &:focus {
    outline: none;
  }
}

.theme--dark {
  button.btn-link {
    color: #2196f3;
  }
}
