.ml-a {
  margin-left: auto
}

.font--mono {
  font-family: 'Hack', monospace;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.user-select--none {
  user-select: none
}

.lowered {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.vertical-align--top {
  vertical-align: top;
}

.vertical-align--bottom {
  vertical-align: bottom;
}

.overflow-x--auto {
  overflow-x: auto
}

.text-transform--none {
  text-transform: none
}

.width--full {
  width: 100% !important;
}

.display--flex {
  display: flex;
}

.text--small {
  font-size: 80%;
}

.disable-hover-bg {
  &:hover {
    background-color: initial !important;
  }
}
