.ml-a {
  margin-left: auto
}

.text-bigger {
  font-size: 1.2em;
}

.font-mono {
  font-family: monospace;
}

.position--relative {
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.user-select--none {
  user-select: none
}

.lowered {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}
