.md-success {
  color: #fff;
  background-color: #8BC34A !important;
}

.md-error {
  color: #fff;
  background-color: #f44336 !important;
}

.md-unknown {
  color: #fff;
  background-color: grey !important;
}
