.reload-button {
  margin-left: 12px;

  .q-field--auto-height .q-field__control, .q-field--auto-height .q-field__native {
    height: initial !important;
    min-height: 36px !important;
  }

  .q-field__marginal {
    height: initial !important;
  }

  .q-field__after, .q-field__append {
    padding-left: 2px !important;
  }
}