.resizable-b:hover {
  background-color: $border-light-color;
}

.body--dark {
  .resizable-b:hover {
    background-color: #444;
  }
}

.resizable-b::before {
  width: 100%;
  content: "----- drag to resize -----";
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: -3px;
  font-size: 12px;
  font-style: italic;
  color: grey;
}