.table--condensed {
  table.v-table thead tr {
    height: 36px
  }

  table.v-table {
    td, th {
      &:not(:nth-child(1)), &:first-child {
        padding: 0 8px
      }
    }

    tbody td, tbody th {
      height: 40px;
    }

    td {
      max-width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    white-space: nowrap;
    font-family: monospace
  }
}

table {
  tr.tr--clickable:hover {
    cursor: pointer
  }
}

.table--fixed-header th {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: -2px;
}

.table--fixed-header th {
  background-color: #fff;
}

.theme--dark .table--fixed-header th {
  background-color: #424242;
}

.table--fixed-header .v-table__overflow {
  max-height: 800px;
  overflow-y: scroll;
}
