.q-menu {
  background: var(--theme-menu-background);
  border: 1px solid var(--theme-background);
}

.q-menu .q-separator {
  background: var(--theme-menu-separator-background);
}

.q-dialog .q-card {
  background: var(--theme-card-background);
}

.q-dialog .q-card .q-separator {
  background: var(--theme-menu-separator-background);
}
