.body--light {
  --q-primary: #1976d2;
  --q-positive: #2e7d32;
  --q-negative: #b71c1c;
  --q-warning: #FF9800;

  --q-dark: #1D1D1D;

  --q-grey-medium: #ddd;
}

.body--dark {
  --q-primary: #2196f3;
  --q-positive: #2e7d32;
  --q-negative: #b71c1c;
  --q-warning: #FF9800;

  --q-dark: #191c24;
  --q-darken: #0f1015;
  --q-dark-page: #010101;

  --q-grey-medium: #212121;
}

.body--light {
  .bg-grey-medium {
    background-color: var(--q-grey-medium);
    color: #000;
  }
}

.body--dark {
  .bg-grey-medium {
    background-color: var(--q-grey-medium);
    color: #fff;
  }
}

// --q-dark: #232436;
// --q-darken: #1a1b28;
// --q-dark-page: #11111a;
