$border-light-color: #ccc;
$border-dark-color: #212121;

body {
  font-size: 16px;
}

*[title] {
  cursor: help
}

.text-underline {
  text-decoration: underline;
}

.fontsize-14 {
  font-size: 14px !important;
}

.clickable:hover {
  cursor: pointer
}

.font-mono {
  font-family: 'Hack', monospace;
}
