@import 'theme/variables';

@import 'theme/components/body';
@import 'theme/components/colors';

@import 'theme/components/anchor';
@import 'theme/components/border';
@import 'theme/components/button';
@import 'theme/components/chip';
@import 'theme/components/code';
@import 'theme/components/code_editor';
@import 'theme/components/health';
@import 'theme/components/http_method_color';
@import 'theme/components/reload_button';
@import 'theme/components/resizable';
@import 'theme/components/snackbar';
@import 'theme/components/table';
@import 'theme/components/text';

@import 'quasar/q-banner';
@import 'quasar/q-btn';
@import 'quasar/q-card';
@import 'quasar/q-form';
@import 'quasar/q-menu';
@import 'quasar/q-separator';
@import 'quasar/q-table';
@import 'quasar/q-tab';

// components

.q-item__section--side {
  @extend .text-muted;
}
